body {
    margin: 0;
    width: 100%;
	background-color: #cccccc;
	background-repeat: repeat;
	background-size: 40vmax;
}

header {
	height: 15vh;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #cccccc;
	background-repeat: repeat;
	background-size: 40vmax;
}

header img {
	transition: 0.2s cubic-bezier(1, -1, 0, 2);

	display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 2.5vh 0;
    height: 7vh;
}

header img:hover {
	height: 8vh;
}

nav {
	position: absolute;
	bottom: -1em;
	width: 100%;
	height: auto;
	
	background-color: #1C1C1C;
    color: #E5E5E5;
	
    font-size: 1.25em;
    font-family: 'Dubai', 'Hind Siliguri', sans-serif;
    font-weight: 300;
	
	text-align: center;
}

nav div {
	height: inherit;
	
	display: inline-block;
	margin: 0 auto;
    padding: 0;
}

nav a {
	height: inherit;
	background-color: #1C1C1C;
    text-align: center;
    color: #E5E5E5;
    text-decoration: none;
    padding: 0 1vmax;
	width: 10vmax;
}

nav a:hover {
    background-color: #E5E5E5;
    color: #3f3f3f;
    font-weight: 600;
    cursor: pointer;
}

.nav-offset {
	height: 15vh;
}

.background.projects {
	background-size: 40vh; 
	height: 56vh;
}

section div.background {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	white-space: nowrap;
	
	position: relative;
	background-color: #fcfcfc;
	background-image: url("Assets/Hex Overlay.png");
	background-repeat: repeat;
	background-position: 50% 0%;
	border-bottom: 1vh #1C1C1C solid;
}

.blog-container {
	display: inline-block;
	background-color: rgba(245, 245, 245, 0.8);
    font-family: 'Dubai', 'Hind Siliguri', sans-serif;
    font-weight: 300;
}

.blog-container.blog-selection {
	margin: 5% 2.5%;
	padding: 0% 2.5%;
	max-width: 90%;
	width: 90%;
}

.blog-container.blog-selection ul {
	padding: 0;
	text-overflow: ellipsis-word;
	white-space: nowrap;
    overflow: hidden;
}

.blog-container.blog-selection ul p {
	margin: 0;
}

.blog-container.blog-selection a {
	font-size: 3vh;
	color: #80011E;
	font-weight: 600;
	text-decoration: none;
}

.blog-container.blog-content {
	margin: 2em 10%;
	padding: 1em 2.5%;
	width: 75%;
	word-break: break-word;
	white-space: normal;
}

.blog-container.blog-content h1, h5
{
	margin: 0;
	font-family: 'Dubai', 'Hind Siliguri', sans-serif;   
}

.blog-container.blog-content h1
{
	font-weight: 600;
	font-size: 3em;
}

.blog-container.blog-content h5
{
	margin-top: -1em;
	margin-bottom: 2em;
	font-weight: 400;
	font-size: 1em;
}

.blog-container.blog-content a {
	color: #80011E;
	font-weight: 600;
	text-decoration: none;
}

#hexProfile {
	position: absolute;
	height: inherit;
	width: inherit;
	left: 50%;
	margin-left: -300px;
}

.blog-name {
	transition: 0.2s cubic-bezier(1, -1, 0, 2);
	position: fixed;
	top: 20vh;
	right: 5vh;
	height: 35.5vh;
	z-index: 1;
	background-image: url("Assets/Nemo Banner Condensed.png");
	background-size: 65vh;
	background-repeat: no-repeat;
	width: 65vh;
	margin-right: 0vh;
}

.blog-name:hover {
	top: 22.5vh;
}

.name {
	transition: 0.2s cubic-bezier(1, -1, 0, 2);
	position: absolute;
	top: 50%;
	right: 50%;
	height: 25vh;
	z-index: 1;
	background-image: url("Assets/Nemo Banner Condensed.png");
	background-size: 45.77455vh;
	background-repeat: no-repeat;
	width: 45.77455vh;
	margin-right: -22.887275vh;
}

.name:hover {
	top: 47.5%;
}

div.paragraph {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	
	color: #E5E5E5;
	font-size: 1.8vh;
    font-family: 'Dubai', 'Hind Siliguri', sans-serif;
    font-weight: 300;
}

.thumb {
	display:inline-block;
	background-repeat: no-repeat;
}

.thumb:hover {
    cursor: pointer;
}

.big-thumb {
	position: absolute;
	top: 9.1vh;
	left: 50%;
	margin-left: -30vh;
}

.small-thumb {
	position: absolute;
	top: 26.1vh;
	left: 50%;
	margin-left: -6.75vh;
}

.big-thumb .thumb {
	height: 20.379805vh;
	width: 40vh;
	background-size: 40vh;
}

.small-thumb .thumb {
	height: 9.090319vh;
	width: 9vh;
	background-size: 9vh;
}

.dd-thumb {
	background-image: url("Assets/Hex Game Thumbnails/HexThumb DD.png");
	position: absolute;
	top: 0.8vh;
	left: 7.8vh; 
}

.dd-thumb:hover {
	background-image: url("Assets/Hex Game Thumbnails/HexThumb DD-Highlight.png");
}

.cw-thumb {
	background-image: url("Assets/Hex Game Thumbnails/HexThumb CW.png");
	position: absolute;
	top: 19.6vh;
	left: 5.7vh; 
}

.cw-thumb:hover {
	background-image: url("Assets/Hex Game Thumbnails/HexThumb CW-Highlight.png");
}

.writing-thumb {
	background-image: url("Assets/Hex Game Thumbnails/HexThumb Writing.png");
	position: absolute;
	top: -5vh; 
	left: 20.1vh;
}

.writing-thumb:hover {
	background-image: url("Assets/Hex Game Thumbnails/HexThumb Writing-Highlight.png");
}

.github-thumb {
	background-image: url("Assets/Hex Game Thumbnails/HexThumb GitHub.png");
	position: absolute;
	top: 2.5vh; 
	left: 17.90vh;	
}

.github-thumb:hover {
	background-image: url("Assets/Hex Game Thumbnails/HexThumb GitHub-Highlight.png");
}

footer {
	text-align: center;
}

ul.socials {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 0;
}

.fab, .fas {
	margin: 0;
	padding: 0.75em;
	font-size: 1.25em;
	text-align: center;
	font-family: 'Hind Siliguri', sans-serif;
	text-decoration: none;
	clip-path: polygon(50% 100%, 6.75% 75%, 6.75% 25%, 50% 0%, 93.75% 25%, 93.75% 75%);
}

.fa-at {
  background: #3F3F3F;
  color: #AAAAAA;
}

.fa-twitter {
  background: #3F3F3F;
  color: #55ACEE;
}

.fa-itch-io {
  background: #3F3F3F;
  color: #FA5C5C;
}

.fa-at:hover {
  color: #3F3F3F;
  background: #AAAAAA;
}

.fa-twitter:hover {
  color: #3F3F3F;
  background: #55ACEE;
}

.fa-itch-io:hover {
  color: #3F3F3F;
  background: #FA5C5C;
}

.mobile-hide {
	visibility: hidden;
}

.half-screen-hide {
	visibility: hidden;
}

/* Desktop */
@media (min-width: 800px) 
{		
	.name {
		position: fixed;
		background-size: 45.77455vh;
		
		top: 20vh;
		right: 5vh;
		height: 25vh;
		width: 45.77455vh;	
		margin-right: 0vh;
	}

	.name:hover {
		top: 22.5vh;
	}
	
	.background.projects {
		background-size: 60vh;
		height: 72vh;
	}
	
	section div.background {
		background-position: 0% 0%;	
	}

	#hexProfile {
		position: relative;
		left: 0%;
		margin-left: 0px;
	}

	header img {
		padding: 1vh 0;
		height: 10vh;
	}
	
	header img:hover {
		height: 10.5vh;
	}
	
	.fab, .fas {
		padding: 0.875em;
		font-size: 1.375em;
	}
	
	.big-thumb .thumb {
		height: 30.569708vh;
		width: 60vh;
		background-size: 60vh;
	}

	.small-thumb .thumb {
		height: 13.635479vh;
		width: 13.5vh;
		background-size: 13.5vh;
	}

	.big-thumb {
		left: 0vh;
		margin-left: 0;
	}

	.small-thumb {
		left: 53.333333vh;
		margin-left: 0;
	}
	
	.dd-thumb {
		top: 0;
		left: 0;
	}
	
	.cw-thumb {
		top: 28.3vh;
		left: 3.4vh; 
	}
	
	.writing-thumb {
		top: 0;
		left: 0;
	}
	
	.github-thumb {
		top: 11.3vh;
		left: 3.3vh;	
	}
	
	.mobile-hide {
		visibility: visible;
	}
}


@media (min-width: 1200px) 
{
	.name {
		background-size: 65vh;

		top: 20vh;
		right: 5vh;
		height: 35.5vh;
		width: 65vh;
	}
	
	.blog-container.blog-selection {
		margin: 2em 5%;
		max-width: 40%;
		width: 40%;
	}
	
	.fab, .fas {
		padding: 1em;
		font-size: 1.5em;
	}
	
	.half-screen-hide {
		visibility: visible;
	}
}